[user]
	name = sugiura-hiromiti
	email = sugiura130418@icloud.com
[core]
	editor = nvim
[init]
	defaultBranch = main
[include]
	path = ~/.github_auth
[includeIf "gitdir:~/Downloads/job/"]
	path = ~/.gitconfig_p
[pull]
	rebase = false
	ff = only
