{
	"printWidth": 100,
	"useTabs": true,
	"tabWidth": 3,
	"bracketSameLine": true,
	"singleQuote": true,
	"trailingComma": "all",
	"arrowParens": "avoid",
	"overrides": [
		{
			"files": [
				"**/*.yml",
				"**/*.yaml"
			],
			"options": {
				"useTabs": false,
				"tabWidth": 4
			}
		}
	]
}
