# rules
--enable blankLineAfterImports, blankLinesBetweenImports, docComments, markTypes, organizeDeclarations
--disable leadingDelimiters

# options
--lineaftermarks false
#--guardelse same-line
--header ignore
--indent tab
--linebreaks cr
--redundanttype inferred
--stripunusedargs unnamed-only
--maxwidth 100
--swiftversion 5.7
