# rules
--enable blankLineAferImports, blankLinesBetweenImports, docComments, markTypes, organizeDeclarations
--disable

# options
--lineaftermarks false
#--guardelse same-line
--header ignore
--indent tab
