* {
	/*the universal selector selects all html elements on the page*/
	tab-size: 3;
}
body {
	tab-size: 3;
}
pre {
	tab-size: 3;
}
h1 {
	background-color: rgba(200, 200, 200, 0.2);
}
html {
	background-color: rgba(58, 131, 10, 0.3);
}
.BaseLayout {
	background-color: darkolivegreen;
}
