/*
 * Do not remove the @namespace line -- it's required for correct functioning
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
/* set default namespace to XUL */

/*
 * Hide tab bar, navigation bar and scrollbars
 * !important may be added to force override, but not necessary
 * #content is not necessary to hide scroll bars
 */

/*

#titlebar {
	visibility: collapse;
}
#personalToolbar {
	visibility: collapse;
}

browser {
	margin-right: -14px;
	margin-bottom: -14px;
}

#navigator-toolbox {
	visibility: collapse;
}

only shows urlbar
*/

/*
*/

#nav-bar {
	display: block;
	width: 30%;
	height: 24px;
	position: fixed;
	top: 0px;
	left: 70%;
}

#TabsToolbar {
	display: block;
	width: 70%;
	height: 24px;
	position: fixed;
	top: 0px;
	left: 0px;
}

*|*:root {
	--tab-min-height: 20px !important;
	--tab-min-width: 40px !important;
}

#urlbar-input {
	height: 20px !important;
}

#TabsToolbar>.titlebar-buttonbox-container {
	visibility: collapse !important;
}
