/*
 * Do not remove the @namespace line -- it's required for correct functioning
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
/* set default namespace to XUL */

/*
 * Hide tab bar, navigation bar and scrollbars
 * !important may be added to force override, but not necessary
 * #content is not necessary to hide scroll bars
 */

/*

#titlebar {
	visibility: collapse;
}
#personalToolbar {
	visibility: collapse;
}

browser {
	margin-right: -14px;
	margin-bottom: -14px;
}

only shows urlbar
*/

#navigator-toolbox {
	/* visibility: collapse; */
	display: inline;
}

#nav-bar {
	display: block;
	width: 30%;
	height: 40px;
	position: fixed;
	top: 0px;
	left: 70%;
	/* visibility: collapse; */
}

#TabsToolbar {
	display: block;
	width: 70%;
	height: 40px;
	position: fixed;
	top: 0px;
	left: 0px;
	/* visibility: collapse; */
}
