/*
 * Do not remove the @namespace line -- it's required for correct functioning
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
/* set default namespace to XUL */

/*
 * Hide tab bar, navigation bar and scrollbars
 * !important may be added to force override, but not necessary
 * #content is not necessary to hide scroll bars
 */

/*
#navigator-toolbox {
	visibility: collapse;
}


#titlebar {
	visibility: collapse;
}
#personalToolbar {
	visibility: collapse;
}
#nav-bar {
	visibility: collapse;
}

*/
#TabsToolbar {
	visibility: collapse;
}
browser {
	margin-right: -14px;
	margin-bottom: -14px;
}

:root {
	--urlbar-container-padding: 0px;
	--urlbar-margin-inline: 0px;
	--urlbar-padding-block: 0px;
}

#urlbar{
		height: 10px;
}
